<!--About-->
<div class="row">
	<div id="profile-p">
		<img src="../../../assets/profile-pick.png" alt="Foto de perfil" class="rounded-circle img-fluid" id="profile">
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="nombre-p">
		<p id="nombre">{{usuario.nombre}} {{usuario.apellido}}</p>
		<p>Full Stack Web Developer Jr</p>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<span>
			<h1 id="about">Acerca de mí</h1>
		</span>
		<p id="about-text">{{usuario.abaut}}</p>
	</div>
</div>
<hr>